<div class="h-full bg-white md:flex flex-col items-center justify-start hidden" style="width: 320px;background-image: radial-gradient(#00e9ff, #00d9e8);padding: 10px 5px;">
    <img src="./static/images/gas-station.png" alt="">
    <div style="height: 15px;"></div>
    <span class="text-white text-[25px]">محمد طه مجیدی</span>
    <div class="rounded-[5px] w-full flex justify-center items-center" style="background-color: rgba(0, 0, 0, 0.103);padding: 5px 0px;">
        <img src="./static/images/icons/pngfind.com-gas-icon-png-3390462.png" alt="gas station" style="width: 13px;">
        <div style="width: 10px;"></div>
        <span class="text-white">پمپ بنزین ها</span>
    </div>
</div>