{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>بازگردانی رمز عبور</title>
    {% tailwind_css %}
</head>
<body>
    <div class="flex flex-row w-full h-full justify-center items-center bg-[#f7f7f7]">
        <div class="md:w-[800px] w-[80%] flex flex-row h-fit rounded-[10px] shadow-lg bg-white">
            <img src="/static/images/login_image.jpg" class="w-[400px] rounded-[10px] md:block hidden" />
            <div class="w-full flex flex-col justify-center items-center">
                <div class="h-[60px]"></div>
                <span class="text-[25px]">فراموشی رمز!</span>
                <input id="username" placeholder="نام کاربری..." class="mt-[20px] w-[80%] px-[10px] py-[7px] border-0 outline-0 bg-[#00ffff14] rounded-[5px]"></input>
                {% if status == False %}
                <span style="font-size: 14px;color: red;margin-bottom: -5px;" class="mt-[10px]">اطلاعات وارد شده یافت نشد!</span>
                {% endif %}
                {% if valid == True %}
                <span style="font-size: 14px;color: red;margin-bottom: -5px;" class="mt-[10px]">لینک بازیابی به ایمیل {{email}} ارسال شد!</span>
                {% endif %}
                <div class="h-[60px]"></div>
                <button onclick="Recovery_BTN()" class="px-[5px] py-[2px] bg-[#11bef2] text-[17px] text-white w-[30%] rounded-[5px]">بازیابی</button>
                <a href="/" class="mt-[10px] text-[15px] text-primary md:mb-[0px] mb-[20px]">وارد شدن به حساب کاربری</a>
            </div>
        </div>
    </div>
    <script>
        function Recovery_BTN(){
            const username = document.getElementById('username').value;
            const data_query = {
                'username' : username,
            }
            const str_query = JSON.stringify(data_query)
            const url_encode_query = encodeURIComponent(str_query)
            const encode_query = btoa(url_encode_query)
            location.href = 'http://127.0.0.1:8000/forget-password/?DATARECOVERY=' + encode_query
        }
        
    </script>
</body>
</html>