<div class="w-full bg-white flex justify-center flex-col items-center" style="padding: 10px 15px; height: fit-content;border-radius: 20px;filter: drop-shadow(0px 9px 7px rgba(0, 0, 0, 0.14));">
    <span class="text-ellipsis overflow-hidden whitespace-nowrap">{{ data.name }}</span>
    <div style="height: 15px;"></div>
    <div class="flex w-full flex-col justify-start">
        <span>فاصله از شما : {{ data.distance }} کیلومتر</span>
        <div style="height: 10px;"></div>
        <span>مدت زمان رسیدن شما : {{data.time_distance}} دقیقه</span>
        <div style="height: 10px;"></div>
        <span>بنزین مورد نیاز : 5 لیتر</span>
        <div style="height: 10px;"></div>
        <span style="font-size: 15px;">آدرس : {{data.address}}</span>
    </div>
    <div style="height: 40px;"></div>
    <a href="/" style="background-color: #4aff2f;color: white;padding: 5px 15px;border-radius: 5px;">مسیریابی</a>
    <div style="height: 10px;"></div>
</div>